*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
/*General*/
.text-center{
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.btn{
    border-radius: 8px;
    padding: 8px 16px;
}
.mr-10{
    margin-right: 10px;
}
.btn-warning{
    background-color: rgb(252, 118, 223);
    color: rgb(30, 29, 29);
    border: 1px solid rgb(18, 17, 17);
    
}
.btn-warning:hover{
    background-color: rgb(201, 71, 142);
    cursor: pointer;
}
.btn-primary{
    background-color: rgb(252, 118, 223);
    color: rgb(30, 29, 29);
    border: 1px solid rgb(18, 17, 17);
    
}
.btn-primary:hover{
    background-color: rgb(201, 71, 142);
    cursor: pointer;
}
.btn-danger{
    background-color: rgb(222, 45, 39);
    color: rgb(27, 27, 27);
    border: 1px solid rgb(29, 28, 28);
    
}
.btn-danger:hover{
    background-color: rgb(117, 26, 23);
    cursor: pointer;
}
@media (min-width:576px) {
    .col-lg-12{
        width: calc((100%/12)*12);
        padding:0px 10px;
    }    
}
@media (min-width:776px) {
    .col-md-6{
        width: calc((100%/12)*6);
        padding:0px 10px;

    }    
}
@media (min-width:992px) {
    .col-lg-4{
        width: calc((100%/12)*4);
        padding:0px 10px;
    }    
}


/*form-section*/
#form-section{
    width: 80%;
    margin:25px  auto  0px;
    color: antiquewhite;
}
#form-section .container{
    width: 50%;
    margin: auto;
    background-color: blueviolet;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

#form-section .row{
align-items: center;

}
#form-section .row .form-group{
    width: 50%;
    margin-bottom: 10px;
    padding-right: 10px;
}
#form-section .row .form-group .form-label {
    margin-bottom: 10px;
    display: inline-block;
}
#form-section .row .form-group .form-control{
    width: 100%;
    border: 2px solid azure;
    border-radius: 4px;
    padding: 6px 8px;
}
#form-section .row .form-group .form-checkbox{
border: 10px border black;
}
#form-section .row .form-submit{
    width: 100%;
}

#card-section{
    margin-top: 50px;
}
#card-section .container{
    width: 80%;
    margin: auto;
}
.card-img-top{
    height: 100px;
    width: 100px;
}
#card-section .container .row .card{
    border: 1px solid white ;
    border-top-left-radius:12px ;
    border-top-right-radius: 12px;
    overflow: hidden;
    background-color: rgb(76, 75, 75);
}
#card-section .container .row .card .card-img-top{
    width: 100%;
    height: 350px;
}
#card-section .container .row .card .card-body{
    color: white;
    padding: 20px;
}
#card-section .container .row .card .card-body .card-title{
    font-size: 24px;
    font-weight: bold;

}
#card-section .container .row .card .card-body .card-text{
    margin-bottom: 10px;
    font-size: 13px;
}
#card-section .container .row .card .card-body .card-text .new-price{
    color: rgb(10, 51, 10);
    font-weight: bold;

}



